<%= form_for([@site, @entry]) do |f| %>
  <% if @entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@entry.errors.count, "error") %> prohibited this entry from being saved:</h2>

      <ul>
      <% @entry.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <dl class='entry_form'>
    <dt class='title'><%= f.label :title %></dt>
    <dd class='title'><%= f.text_field :title %></dd>
    <dd><div class='tabs'>
      <ul>
        <li><a href='#body_text'><%= f.label :body_text %></a></li>
        <li><a href='#extend_text'><%= f.label :extend_text %></a></li>
        <li><a href='#option'><%=t '.option'%></a></li>
      </ul>
      <div class="field" id='body_text'>
        <%= f.text_area :body_text %>
      </div>
      <div class="field" id='extend_text'>
        <%= f.text_area :extend_text %>
      </div>
      <div class="field" id='option'>
        <dl>
          <dt><%= f.label :path_suggestion %></dt>
          <dd><%= f.text_field :path_suggestion %></dd>
          <dt><%= f.label :format_type %></dt>
          <dd><%= f.collection_select :format_type, FormatType.types, :first, :first %></dd>
          <dt><%= f.label :description %></dt>
          <dd><%= f.text_area :description %></dd>
        </dl>
      </div>
    </div></dd>
    <dt class='title'><%= f.label :posted_at_local %></dt>
    <dd class='title'>
      <%= f.datetime_select :posted_at_local, :include_seconds=>true %>
    </dd>
    <dd class='action'>
      <%= f.hidden_field :identify_string %>
      <%= f.submit %>
      <%= f.check_box :is_public %> <%= f.label :is_public %>
    </dd>
  </dl>
  
<% end %>
