<h1>Listing entries</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Is public</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @entries.each do |entry| %>
  <tr>
    <td><%= entry.title %></td>
    <td><%= entry.is_public %></td>
    <td><%= link_to 'Show', [@site, entry] %></td>
    <td><%= link_to 'Edit', edit_site_entry_path(@site, entry) %></td>
    <td><%= link_to 'Destroy', [@site, entry], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
