<%= form_for([:admin, @admin_site]) do |f| %>
  <% if @admin_site.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_site.errors.count, "error") %> prohibited this admin_site from being saved:</h2>

      <ul>
      <% @admin_site.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :path %><br />
    <%= f.text_field :path %>
  </div>
  <div class="field">
    <%= f.label :timezone %><br />
    <%= f.time_zone_select :timezone, priority_zones() %>
  </div>
  <div class='field'>
    <%=t 'activerecord.models.writing' %>
    <ul>
    <% User.all.each_with_index do |user, index| %>
      <li>
        <label>
          <%= check_box_tag "#{f.object_name}[writings_attributes][#{index}][user_id]", user.id, user.author?(f.object) %>
          <%= user.display_name %>
        </label>
      </li>
    <% end %>
    </ul>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
